<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
     <link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/icon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/image/css/ProductDetail.css">
    <title>Product Detail</title>
</head>

<body>
     <header>
        <div class="top-bar-wrapper">
            <div class="inner-content top-bar-content">
                <div class="jordan-logo">
                    <img th:src="@{/image/jordanIcon.png}" alt="Jordan">
                </div>
                <div class="top-right-links">
                    <a href="#">Find a Store</a>
                    <span>|</span>
                    <a href="#">Help</a>
                    <span>|</span>

                    <th:block th:if="${session.loggedInUser == null}">
                        <a href="http://localhost:8080/login">Login</a>
                        <span>|</span>
                        <a th:href="@{/checkMail}">Sign In</a>
                    </th:block>

                    <th:block th:unless="${session.loggedInUser == null}">
                        <span style="font-weight: 600;">
                            Hi, <span th:text="${session.loggedInUser.firstName}">Member</span>
                        </span>
                        <span>|</span>
                        <a th:href="@{/logout}" style="color: #d43f3a;">Log Out</a>
                    </th:block>
                </div>
            </div>
        </div>

        <nav class="main-nav-wrapper">
            <div class="inner-content">
                <a href="http://localhost:8080/home" class="nike-logo">
                    <img th:src="@{/image/icon.png}" alt="Nike">
                </a>

                <div class="nav-links">

                    <div class="nav-item">
                        <a href="#">New & Featured</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="http://localhost:8080/new-arrivals">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Shop All Sale</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shop Icons</h3>
                                    <ul>
                                        <li><a href="#">Air Force 1</a></li>
                                        <li><a href="#">Air Jordan 1</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Trending</h3>
                                    <ul>
                                        <li><a href="#">Shop Sport</a></li>
                                        <li><a href="#">Adidas vs Nike</a></li>
                                        <li><a href="#">Retro Running</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Men</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Shop All Sale</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Jordan</a></li>
                                        <li><a href="#">Running</a></li>
                                        <li><a href="#">Basketball</a></li>
                                        <li><a href="#">Football</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                        <li><a href="#">Pants & Leggings</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Accessories</h3>
                                    <ul>
                                        <li><a href="#">All Accessories</a></li>
                                        <li><a href="#">Bags & Backpacks</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Women</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Shop All Sale</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Running</a></li>
                                        <li><a href="#">Gym & Training</a></li>
                                        <li><a href="#">Jordan</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Performance Essentials</a></li>
                                        <li><a href="#">Sports Bras</a></li>
                                        <li><a href="#">Pants & Leggings</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Accessories</h3>
                                    <ul>
                                        <li><a href="#">Bags & Backpacks</a></li>
                                        <li><a href="#">Socks</a></li>
                                        <li><a href="#">Hats & Headwear</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Kids</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Featured</h3>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                        <li><a href="#">Back to School</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Shoes</h3>
                                    <ul>
                                        <li><a href="#">All Shoes</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Jordan</a></li>
                                        <li><a href="#">Football</a></li>
                                        <li><a href="#">Running</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Clothing</h3>
                                    <ul>
                                        <li><a href="#">All Clothing</a></li>
                                        <li><a href="#">Tops & T-Shirts</a></li>
                                        <li><a href="#">Sport Bras</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Kids By Age</h3>
                                    <ul>
                                        <li><a href="#">Older Kids (7 - 14 years)</a></li>
                                        <li><a href="#">Younger Kids (4 - 7 years)</a></li>
                                        <li><a href="#">Babies & Toddlers (0 - 4 years)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#">Sale</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <div class="dropdown-column">
                                    <h3>Sale & Offers</h3>
                                    <ul>
                                        <li><a href="#">Shop All Sale</a></li>
                                        <li><a href="#">Bestsellers</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Men's Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Women's Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-column">
                                    <h3>Kids' Sale</h3>
                                    <ul>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="nav-backdrop"></div>

                <div class="nav-actions">
                    <div class="search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon-btn"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <a href="http://localhost:8080/favorites" class="action-icon"><i class="fa-regular fa-heart"></i></a>
                    <a href="http://localhost:8080/cart" class="action-icon"><i class="fa-solid fa-bag-shopping"></i></a>
                </div>
            </div>
        </nav>

        <div class="promo-bar-wrapper">
            <div class="inner-content promo-content" style="display: block;">
                <div class="promo-text">Free Standard Delivery & 30-Day Free Returns</div>
                <div class="promo-subtext">
                    <a href="#">Join Now</a>
                    <a href="#">View Details</a>
                </div>
            </div>
        </div>
    </header>

<div class="detail-wrapper">

    <!-- ================= LEFT THUMBNAILS ================= -->
    <div class="thumb-list">
        <img th:src="@{${product.imageUrl}}" alt="thumb">
        <img th:src="@{${product.imageUrl}}" alt="thumb">
        <img th:src="@{${product.imageUrl}}" alt="thumb">
        <img th:src="@{${product.imageUrl}}" alt="thumb">
    </div>

    <!-- ================= MAIN IMAGE ================= -->
    <div class="main-image-box">
        <img th:src="@{${product.imageUrl}}" alt="Main Product">
    </div>

    <!-- ================= PRODUCT INFO ================= -->
    <div class="product-info">

        <!-- Name -->
        <h1 th:text="${product.name}">
            Nike Structure Plus
        </h1>

        <!-- Category -->
        <p th:text="${product.gender} + ' ' + ${product.category}">
            Giày chạy bộ dành cho nam
        </p>

        <!-- Price -->
        <div class="price"
             th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')} + '₫'">
            4.699.000₫
        </div>

        <!-- Color Options -->
        <div class="color-options">
            <img th:src="@{${product.imageUrl}}">
            <img th:src="@{${product.imageUrl}}">
            <img th:src="@{${product.imageUrl}}">
            <img th:src="@{${product.imageUrl}}">
        </div>

        <!-- Buttons -->
        <button class="btn-gray">Thêm vào yêu thích</button>

        <button class="btn-black">
            Mua ngay
        </button>

        <!-- Product Details -->
        <ul>
            <li>Màu sắc hiển thị: Đen / Trắng / Đỏ</li>
            <li>Mã sản phẩm: HQ3048-500</li>
            <li>Xuất xứ: Việt Nam</li>
        </ul>

        <span class="detail-link">
            Xem chi tiết sản phẩm
        </span>

        <h3 style="margin-top:30px;">
            Giao hàng và đổi trả miễn phí ⌄
        </h3>

        <!-- Back -->
        <a href="/new-arrivals" class="back-btn">
            ⬅ Quay lại New Arrivals
        </a>

    </div>

</div>

<!-- =================================================================== -->
    <!-- Search Overlay -->
    <div class="search-overlay" id="searchOverlay">
        <div class="search-overlay-content">
            <div class="search-top-bar">
                <a href="#" class="overlay-logo">
                    <img th:src="@{/image/icon.png}" alt="Nike">
                </a>

                <div class="big-search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon-big"></i>
                    <input type="text" placeholder="Search" id="bigSearchInput">
                </div>

                <button class="btn-cancel" onclick="closeSearch()">Cancel</button>
            </div>

            <div class="search-suggestions">
                <p class="suggestion-title">Popular Search Terms</p>
                <div class="tags-container">
                    <a href="#" class="search-tag">luka 5</a>
                    <a href="#" class="search-tag">air force 1</a>
                    <a href="#" class="search-tag">jordan</a>
                    <a href="#" class="search-tag">air max</a>
                    <a href="#" class="search-tag">basketball shoes</a>
                    <a href="#" class="search-tag">nike tech</a>
                </div>
            </div>
        </div>
        <div class="overlay-backdrop" onclick="closeSearch()"></div>
    </div>




    <footer class="nike-footer">
    <div class="footer-container">

        <!-- CỘT 1 -->
        <div class="footer-column">
            <h4>Find a Store</h4>
            <ul>
                <li><a href="#">Become a Member</a></li>
                <li><a href="#">Sign Up for Email</a></li>
                <li><a href="#">Send Us Feedback</a></li>
                <li><a href="#">Student Discounts</a></li>
            </ul>
        </div>

        <!-- CỘT 2 -->
        <div class="footer-column">
            <h4>Get Help</h4>
            <ul>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <!-- CỘT 3 -->
        <div class="footer-column">
            <h4>About Nike</h4>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Sustainability</a></li>
            </ul>
        </div>

        <!-- CỘT 4 -->
        <div class="footer-column">
            <h4>Social</h4>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <span>© 2026 Nike, Inc. All Rights Reserved</span>
        <div class="footer-links">
            <a href="#">Guides</a>
            <a href="#">Terms of Sale</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>
<script th:src="@{/image/js/ProductDetail.js}"></script>

</body>
</html>
